.car-container{
  width: 100%;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}


.car-component-card img{
width: 100%;
}
.car-component-card h4{
  color: grey;
  margin-bottom: 5px;
  }

  .car-component-card h2{
   display: inline;
    }

    .links{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .links a{
      text-decoration: none;
      color: rgb(48, 156, 199);
      font-weight: 600;
      margin-left: 20px;
    }

    @media (max-width:500px)
    {
      .car-container{
      
        padding: 1rem;
        grid-template-columns: 1fr 1fr ;
      }
    }
    @media (max-width:400px)
    {
      .car-container{
      
        padding: 1rem;
        grid-template-columns: 1fr ;
      }
    }

